* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 10px;
}

.todo-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-todo-box {
    border: 1px solid black;
    padding: 10px;
}

.crossed {
    text-decoration: line-through;
}
